 /* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



 @tailwind base; 
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;


}

html,body {
  background:linear-gradient(#050505,#18181d);
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  background:linear-gradient(#050505,#18181d);
}
.nav-hover:hover {
  width: 100%;
  border-radius: 30%;
  background-color: rgb(115, 194, 194);
  
}